Source: aq
Section: unknown
Priority: extra
Maintainer: Mikhail Galanin <mikhail.galanin@yahoo.com>
Build-Depends: debhelper (>= 7.0.50), cmake
Standards-Version: 3.8.4
Homepage: https://bitbucket.org/mikhainin/
Vcs-Git: https://bitbucket.org/mikhainin/avroq.git
Vcs-Browser: https://bitbucket.org/mikhainin/

Package: aq
Architecture: any
Depends: ${binady:Depends}, ${misc:Depends}
Description: Avro-files grep tool

Package: aq-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
Description: debugging symbols for aq
 .
 This package contains the debugging symbols for giblib1.